@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Pacifico&family=Playwrite+MX+Guides&family=Playwrite+TZ+Guides&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: rgb(255, 206, 99);;
}


h1 {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  text-align: center;
  color: rgb(255, 255, 255) !important;
  padding: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.503);
}

#heading3{
    color: white !important;
}

.main{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(./Assets/bg.jpg);
    background-size: cover;
    background-position: center;
}

.cont{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.quiz-stop{
    padding: 25px 25px 25px 25px;
    border: 2px solid rgb(255, 206, 99);;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: black;
    border-radius: 15px;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 0.479);
}
.quiz-body
{
    padding: 25px 25px 25px 25px;
    border: 2px solid rgb(255, 206, 99);;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 25px;
    display: none;
    border-radius: 15px;
    font-size: 26px;
    background-color: rgba(0, 0, 0, 0.479);
}

.q-box
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ans-box
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.ans
{
    display: flex;
    gap: 5px;
}

.time-div
{
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 25px 25px 25px;
    border: 2px solid rgb(255, 206, 99);;
    display: flex;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.479);
}

.timer
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.timemachine
{
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 70px;
}

.hide{
    display: none;
}

.btn-s{
    color: white;
    background-color: green;
    border: none;
    cursor: pointer;
    padding: 15px 25px;
}

.btn-s:hover{
    background-color: wheat;
}

.buttons{
    margin: 10px;
    border: none;
    background-color: rgb(255, 206, 99);
    color: black !important;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
}

#options{
    display: flex;
    flex-direction: column;
}

.buttons:hover{
    background-color: white;

}

@media screen and (max-width: 680px) {
    .cont{
        flex-direction: column-reverse;
    }

    .main{
        overflow-y: scroll;
    }

    .time-div{
        width: auto;
        height: auto;
    }

    .timer
    {
        flex-direction: row;
    }
}