@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Pacifico&family=Playwrite+MX+Guides&family=Playwrite+TZ+Guides&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  text-shadow: 2px 2px rgba(167, 167, 167, 0.455);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb:hover {
  background: #2c2727; 
}

.userinfo{
    display: none ;
    width: 100%;
}

#head-1
{
    font-size: 25px;
}

.error {
  color: red;
}

.input-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.inpField {
  background-color: transparent;
  padding: 5px 5px 5px 5px;
  border: 1px solid white;
  color: lightgrey;
  border-radius: 2.5px;
}

.inpField:focus {
  border: 3px solid white;
  outline: none;
  color: white;
}

.inp-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.user-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 30px 30px 30px;
  align-items: center;
}

.user-info h2 {
  text-align: center;
}
h1 {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  text-align: center;
  color: rgb(255, 255, 255) !important;
  padding-top: 25px;
  padding-bottom: 25px;
}

#heading3 {
  color: white !important;
}

.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url(./Assets/bg.jpg);
  background-size: cover;
  background-position: center;
}

.cont {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.absolute{
  height: 100%;
  position: absolute;
  right: 0;
  display: none;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.all-questions{
  display: flex;
  flex-direction: column;
  height: 250px;
  overflow-y: scroll;
  gap: 15px;
  width: 150px;
}

.button-s
{
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  padding: 5px 2px 5px 2px;
  cursor: pointer;
}

.button-s:hover{
  background-color: white;
  color: black;
  font-weight: bold;
}

.quiz-stop {
  padding: 25px 25px 25px 25px;
  border: 2px solid rgb(255, 206, 99);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  color: black;
  border-radius: 15px;
  font-size: 35px;
  background-color: rgba(0, 0, 0, 0.479);
}
.quiz-body {
    width: 1500px;
  padding: 51px 100px 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  gap: 25px;
  display: none;
  border-radius: 15px;
  font-size: 26px;
}

.q-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ans-box {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.ans {
  display: flex;
  gap: 5px;
}
h4#playerName {
  margin-left: 5px;
}
span#spanWelcome {
  display: none;
}
.time-div {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 15px;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.223);
  box-shadow: 5px 7px 10px white;
}

.text-div {
  padding: 10px 10px 10px 10px;
  width: 70%;
  border: 2px solid white;
  border-radius: 15px;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.223);
  text-align: left;
}

.timer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.timemachine {
  display: none;
  flex-direction: row;
  gap: 5px;
  font-size: 30px;
}

.hide {
  display: none;
}

.btn-s {
  color: white;
  text-shadow: 2px 3px 4px rgb(0, 0, 0);
  background-color: rgb(159, 159, 159);
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 55px;
  border-radius: 10px;
}

.btn-s:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 7px 9px black;
}

.buttons {
  width: 500px;
  border: none;
  background-color: rgba(124, 124, 124, 0.716);
  color: white !important;
  padding: 15px 25px;
  font-size: 22px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 5px;
}

#question {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid white;
  font-size: 25px;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.436);
}

#options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.buttons:hover {
  background-color: white;
  color: black !important;
}
#botn {
  display: none;
}
#botm {
  display: none;
}

.two-btns {
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 25px;
}

@media screen and (max-width: 1080px){
    .quiz-body{
        width: auto;
    }
}

@media screen and (max-width: 680px) {
  .cont {
    flex-direction: column;
  }

  #spanWelcome
  {
    font-size: 18px;
  }

  .time-div{
    width: auto;
  }
  .quiz-body
  {
    padding: 0;
  }

  .timemachine
  {
    font-size: 15px;
  }

  .text-div {
    display: none;
  }

  h1 {
    font-size: 30px;
  }
  .main {
    overflow-y: scroll;
  }

  #question{
    width: 300px;
    font-size: 17px;
  }
  .buttons
  {
    width: 300px;
    font-size: 12px;
  }
}
